<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenTrace.Properties.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OpenTrace.Properties.Default" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenTrace.Properties.User>
            <setting name="exectuablePath" serializeAs="String">
                <value />
            </setting>
            <setting name="arguments" serializeAs="String">
                <value />
            </setting>
            <setting name="queries" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="parallel_requests" serializeAs="String">
                <value />
            </setting>
            <setting name="max_hops" serializeAs="String">
                <value />
            </setting>
            <setting name="first" serializeAs="String">
                <value />
            </setting>
            <setting name="send_time" serializeAs="String">
                <value />
            </setting>
            <setting name="ttl_time" serializeAs="String">
                <value />
            </setting>
            <setting name="source" serializeAs="String">
                <value />
            </setting>
            <setting name="dev" serializeAs="String">
                <value />
            </setting>
            <setting name="IPInsightToken" serializeAs="String">
                <value />
            </setting>
            <setting name="IPInfoToken" serializeAs="String">
                <value />
            </setting>
            <setting name="ChunZhenEndpoint" serializeAs="String">
                <value />
            </setting>
            <setting name="combineGeoOrg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="no_rdns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="mapProvider" serializeAs="String">
                <value />
            </setting>
        </OpenTrace.Properties.User>
        <OpenTrace.Properties.Default>
            <setting name="dd" serializeAs="String">
                <value />
            </setting>
        </OpenTrace.Properties.Default>
    </userSettings>
</configuration>