[Desktop Entry]
Name=OpenTrace
Comment=Cross-platform GUI wrapper for NextTrace
Exec=OpenTrace
Icon=opentrace
Terminal=false
Type=Application
Categories=Network;Utility;
Keywords=traceroute;network;trace;
StartupWMClass=OpenTrace