name: build-linux

on:
  push:
    branches:
      - master
    paths:
      - "**/*.cs"
      - "**/*.csproj"
      - "**/*.resx"
      - ".github/workflows/*.yml"
  pull_request:
    branches:
      - master
    types: [opened, synchronize, reopened]
    paths:
      - "**/*.cs"
      - "**/*.csproj"
      - "**/*.resx"
      - ".github/workflows/*.yml"
jobs:

  build:

    strategy:
      matrix:
        runtime: [linux-x64]
        include:
          - runtime: linux-x64
            artifact_path: ./bin/Gtk/Release/net8.0/linux-x64
            self_contained: "--self-contained"

    runs-on: ubuntu-latest

    env:
        NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8

    - name: NuGet Restore
      run: |
          dotnet restore OpenTrace.csproj

    - name: Build for ${{ matrix.runtime }}
      run: |
        dotnet build OpenTrace.csproj --runtime ${{ matrix.runtime }} --configuration Release ${{ matrix.self_contained }} -f net8.0

    - name: Make tarball
      run: cd ${{ matrix.artifact_path }} && chmod +x ./OpenTrace && tar -cvzf ../${{ matrix.runtime }}.tar.gz ./
      

    - name: Upload artifact for ${{ matrix.runtime }}
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.runtime }}.tar.gz
        path: ./bin/Gtk/Release/net8.0/${{ matrix.runtime }}.tar.gz

