name: build-windows

on:
  push:
    branches:
      - master
    paths:
      - "**/*.cs"
      - "**/*.csproj"
      - "**/*.resx"
      - ".github/workflows/*.yml"
  pull_request:
    branches:
      - master
    types: [opened, synchronize, reopened]
    paths:
      - "**/*.cs"
      - "**/*.csproj"
      - "**/*.resx"
      - ".github/workflows/*.yml"

jobs:

  build:

    strategy:
      matrix:
        runtime: [win-x64, win-arm64]
        include:
          - runtime: win-x64
            artifact_path: ./bin/Wpf/Release/net48/win-x64
            self_contained: "--no-self-contained"
            framework: net48
          - runtime: win-arm64
            artifact_path: ./bin/Wpf/Release/net481/win-arm64
            self_contained: "--no-self-contained"
            framework: net481

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8
        
    - name: Build for ${{ matrix.runtime }}
      run: |
        dotnet build OpenTrace.csproj --runtime ${{ matrix.runtime }} --configuration Release ${{ matrix.self_contained }} -f ${{ matrix.framework }}
        
    - name: Upload artifact for ${{ matrix.runtime }}
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.runtime }}
        path: ${{ matrix.artifact_path }}
